<%- include('./partials/head.ejs') %>

  <div class="container">
    <h2>Register New Admin</h2>
    
      <form action="" method="post">
        
        <input type="text" name="firstname" placeholder="Firstname...">
        
        <input type="text" name="lastname" placeholder="Lastname...">
        
        <input type="text" name="email" placeholder="Email">
        
        <input type="password" name="password" placeholder="Password">
    
        <button>Register</button>
      </form>

  </div>
</body>
</html>