<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tourism API</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Tourism API</h1>
    <table class="table">
      <tbody>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/activity-types">/activity-types</a> <br>
            <b>Description: </b> Get all the acctivity types
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/activity-types/desert-safari" >/activity-types/:[activitytypeslug]</a> <br>
            <b>Description: </b> Get the details of a single activity type and all the different activities that 
            fall under it. The activity-type-slug in the endpoint take the <b>SLUG</b> of the activity type
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/activities/dubai-desert-safari">/activities/:[activityslug]</a> <br>
            <b>Description: </b> Get the details about a single. The activity-slug in the endpoint take the <b>SLUG</b> 
            of the activity
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> POST <br>
            <b>Endpoint: </b> <a href="/bookings/new">/bookings/new</a> <br>
            <b>Description: </b> Create a new Booking<br>
            <b>Requirements: </b> firstname, lastname, email, country, numOfAdults, numOfChildren, activityslug, amountPaid, date<br>
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> POST <br>
            <b>Endpoint: </b> <a href="/admin/register">/admin/register</a> <br>
            <b>Description: </b> Register a new admin user<br>
            <b>Requirements: </b> firstname, lastname, email, password<br>
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> POST <br>
            <b>Endpoint: </b> <a href="/admin/login">/admin/login</a> <br>
            <b>Description: </b> Admin user login<br>
            <b>Requirements: </b> email, password<br>
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/admin/bookings">/admin/bookings</a> <br>
            <b>Description: </b> show list of all bookings made<br>
            <b>Requirements: </b> admin must be logged in (authorization Bearer header required)<br>
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/admin/bookings/12">/admin/bookings/:[booking_id]</a> <br>
            <b>Description: </b> show details of a single booking<br>
            <b>Requirements: </b> admin must be logged in (authorization Bearer header required)<br>
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/admin/users">/admin/users</a> <br>
            <b>Description: </b> show all customers stored in database<br>
            <b>Requirements: </b> admin must be logged in (authorization Bearer header required)<br>
          </p>
        </tr>
        <tr>
          <p>
            <b>METHOD: </b> GET <br>
            <b>Endpoint: </b> <a href="/admin/users/12">/admin/users/:[user._id]</a> <br>
            <b>Description: </b> show details of a single user<br>
            <b>Requirements: </b> admin must be logged in (authorization Bearer header required)<br>
          </p>
        </tr>
      </tbody>
    </table>

  </div>
</body>
</html>