<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Activity Type</title>
</head>
<body>
  <h1>New Activity Type</h1>
  <form action="" method="post" enctype="multipart/form-data">
    
    <label for="activity-type-name">Activity type name</label>
    <input type="text" name="activity-type-name" id="activity-type-name"> <br>
    
    <label for="image">Image: </label>
    <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" >

    <button>add activity type</button>
  </form>
</body>
</html>